.requestPage__form {
    display: grid;
    grid-template-columns: 540px;
    grid-gap: 30px;
}

.form__button {
    width: 100%;
}

.form__iconCheck {
    width: 12px;
    height: 12px;
    fill: none;
    stroke: var(--color-lightGreen);
}

.form__errorText {
    position: absolute;
    bottom: -18px;
    font-size: 14px;
    color: var(--color-red);
}

.requestPage__formGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.requestPage__resume {
    height: 140px;
}

.resumeFile {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
}

.resumeFile__icon {
    margin-right: 12px;
    width: 14px;
    height: 24px;
    fill: var(--color-black);
    opacity: 0.3;
}

.requestPage__radioGroup {
    margin-top: 26px;
}

.reCaptcha {
    overflow: hidden;
}

.reCaptcha__group {
    display: flex;
}

.reCaptcha__block {
    margin-top: 14px;
    max-width: 300px;
}

.reCaptcha__info {
    padding-top: 14px;
    text-align: right;
    font-size: 15px;
    opacity: 0.3;
}

.requestPage__agreement {
    display: flex;
    align-items: center;
    margin-top: -6px;
    font-size: 14px;
}

.requestPage__agreement:before {
    margin-right: 12px;
}

.requestPage__agreementText {
    width: 84%;
}

.requestPage__agreementText_error {
    color: var(--color-red);
}
