.loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-white);
    overflow: hidden;
    z-index: 3000;
}

.loader__image {
    height: 50px;
}
