.setting {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    width: 540px;
}

.setting__buttonGroup {
    display: grid;
    grid-template-columns: repeat(2, 132px);
    grid-gap: 20px;
    margin-top: 16px;
}