/* Goal */
.goal {
    max-width: 412px;
}

.goal__tile {
    font-size: 32px;
    margin-bottom: 27px;
}

.goal__link {
    display: block;
    margin-top: 42px;
    padding: 22px;
    font-size: 24px;
}

/* Media queries */
@media (max-width: 1200px) {
    .goal {
        margin-top: 72px;
        max-width: none;
    }

    .goal__link {
        margin-top: 36px;
    }
}

@media (max-width: 767px) {
    .goal {
        margin-top: 48px;
    }

    .goal__tile {
        font-size: 24px;
    }

    .goal__link {
        margin-top: 52px;
    }
}