.hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-gray);
}

.hero__slider {
    min-height: 400px;
    width: 50%;
    margin: 0;
    cursor: default;
}

.sliderText {
    width: 45%;
    padding-top: 48px;
}

.sliderText__slide {
    font-size: 72px;
    line-height: 0.92;
}

.sliderText__buttonGroup {
    position: absolute;
    left: 0;
    bottom: 48px;
    padding: 8px 0;
    border-radius: 8px;
    background-color: var(--color-white);
    z-index: 2;
}

.slider__button {
    padding: 4px 16px;
}

.slider__button:nth-of-type(1) {
    transform: rotate(180deg);
}

.slider__button:nth-of-type(2) {
    border-left: 2px solid var(--color-gray);
}

.slider__button.swiper-button-disabled .slider__icon {
    opacity: 0.2;
}

.slider__icon {
    width: 10px;
    height: 10px;
    fill: var(--color-black);
}

.sliderPhoto {
    width: 55%;
}

.sliderPhoto__slide {
    display: flex;
    margin-top: -17%;
    height: 146%;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-yellow);
}

.sliderPhoto__wrapper {
    height: 71%;
    display: flex;
    margin-top: 17%;
}

@media (max-width: 1048px) {
    .sliderText {
        padding-top: 100px;
    }

    .sliderText__slide {
        font-size: 54px;
    }

    .sliderPhoto {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 55%;
        max-width: 540px;
    }

    .sliderPhoto__slide {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 767px) {
    .hero {
        flex-direction: column;
        min-height: calc(100vh - var(--header-height));
    }

    .hero__slider {
        min-height: 0;
    }

    .sliderText {
        padding-top: 28px;
        padding-bottom: 24px;
        width: 100%;
        min-height: 0;
    }

    .sliderText__slide {
        font-size: 46px;
    }

    .sliderText__buttonGroup {
        display: none;
    }

    .sliderPhoto {
        position: relative;
        right: 0;
        left: 0;
        margin-left: calc((22% + 16px) * -1);
        width: calc(144% + 32px);
        max-width: none;
    }

    .sliderPhoto__wrapper {
        margin-top: 0;
        height: 100%;
        width: 100%;
    }

    .sliderPhoto__slide {
        display: flex;
        margin-top: 0;
        height: 100%;
        border-radius: 50% 50% 0 0;
        overflow: hidden;
        background-color: var(--color-yellow);
    }
}

@media (min-width: 560px) and (max-width: 767px) {
    .sliderPhoto {
        min-height: 480px;
    }

    .sliderText__slide {
        font-size: 72px;
    }
}

@media (min-width: 355px)  and (max-width: 767px) {
    .sliderPhoto {
        height: 60vh;
    }
}

@media (max-width: 355px) {
    .sliderText__slide {
        font-size: 38px;
    }

    .sliderPhoto {
        height: 55vh;
    }
}