.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 34px;
}

.header__link {
    margin-left: 29px;
    padding: 10px 14px;
    border: 2px solid var(--color-yellow);
    transition: .2s;
}