/* Input */
.form__input {
    display: block;
    margin-top: 14px;
    padding: 12px 16px 14px 16px;
    width: 100%;
    max-width: 540px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    resize: none;
    background-color: var(--color-gray);
}

.form__input::placeholder {
    color: var(--color-black);
    opacity: 0.3;
}

.form__input_error {
    background-color: rgba(255, 102, 102, 0.3);
}

.form__input_select {
    appearance: none;
    background-image: url('../../static/icons/arrow.jpg');
    background-repeat: no-repeat;
    background-position: right 16px top 50%, 0 0;
    background-size: 10px;
}


/* /Input */

.requestPage {
    padding: 72px 0;
}

.requestPage__title {
    font-size: 72px;
}

.requestPage__content {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

/* Form */
.requestPage__form {
    display: grid;
    grid-gap: 30px;
}

.form__button {
    width: 100%;
}

.form__iconCheck {
    width: 12px;
    height: 12px;
    fill: none;
    stroke: var(--color-lightGreen);
}

.requestPage__formGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    
}

/* Goal */
.requestPage__goal {
    max-width: 412px;
}

.goal__tile {
    font-size: 32px;
    margin-bottom: 27px;
}

.goal__link {
    display: block;
    margin-top: 42px;
    padding: 22px;
    font-size: 24px;
}
