.request__link:hover {
    text-decoration: underline;
}

.request__icon {
    margin-left: 6px;
    width: 12px;
    height: 16px;
    fill: var(--color-black);
}

.request__select {
    margin: 0 0 0 8px;
    padding: 8px 12px;
    width: 160px;
    font-size: 14px;
}

.request__item {
    display: grid;
    grid-template-columns: 825px;
    grid-gap: 16px;
    padding: 12px 8px;
    border: 2px solid var(--color-gray);
    border-radius: 8px;
    font-size: 14px;
    color: var(--color-darkGray);
    cursor: default;
    transition: .2s;
}

.request__item:hover {
    background-color: rgb(250, 250, 250);
}

.request__group {
    display: flex;
    gap: 16px;
}

.request__key {
    display: flex;
    align-items: center;
}

.request__key_right {
    margin-left: auto;
}

.request__value {
    display: flex;
    align-items: center;
    margin-left: 4px;
    color: var(--color-black);
}
