.sliderAdminAdmin {
    width: 824px;
}

.sliderAdmin__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.sliderAdmin__title {
    margin-bottom: 0;
}

.sliderAdmin__tableHead {
    display: grid;
    grid-template-columns: 109px 167px auto;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
}

.sliderAdmin__card {
    display: grid;
    grid-template-columns: 85px 179px 1fr auto;
    padding: 8px 12px;
    border: 2px solid var(--color-gray);
    border-radius: 8px;
}

.sliderAdmin__card + .sliderAdmin__card {
    margin-top: 10px;
}

.sliderAdmin__name {
    margin-right: 10px;
    margin-left: 11px;
    border-right: 2px solid var(--color-gray);
}

.sliderAdmin__buttonGroup {
    display: grid;
    grid-gap: 14px;
    text-align: center;
}