.slider {
    width: 824px;
}

.slider__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.slider__title {
    margin-bottom: 0;
}

.slider__tableHead {
    display: grid;
    grid-template-columns: 85px 179px 492px;
    margin-bottom: 30px;
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 18px;
    color: var(--color-black);
}

.slider__card {
    display: grid;
    grid-template-columns: 85px 179px 1fr auto;
    grid-template-rows: repeat(3, 1fr);
    padding: 8px 12px;
    box-sizing: border-box;
    border: 2px solid var(--color-gray);
    border-radius: 8px;
}

.slider__card + .slider__card {
    margin-top: 10px;
}


.slider__image,
.slider__name,
.slider__description{
    grid-row: span 3;
}

.slider__name {
    border-right: 2px solid var(--color-gray);
    margin-right: 10px;
    margin-left: 11px;
}

.slider__description {
    padding-right: 20px;
}