.coordinate {
    width: 823px;
}

.coordinate__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.coordinate__title {
    margin-bottom: 0;
}

.coordinate__tableHeader {
    display: grid;
    grid-template-columns: 95px 190px auto;
    margin-bottom: 24px;
}

.coordinate__item {
    font-family: var(--font-raleway);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: var(--color-black);
}

.coordinate__card {
    padding: 12px 8px;
    align-items: center;
}

.coordinate__card {
    display: grid;
    grid-template-columns: 95px 190px 1fr auto;
    border-radius: 8px;
    border: 2px solid var(--color-gray);
}

.coordinate__card {
    font-family: var(--font-raleway);
    font-size: 14px;
    font-weight: 500;
}

.coordinate__cords {
    border-right: 2px solid var(--color-gray);
    margin-left: 10px;
    margin-right: 10px;
}

.coordinate__type {
    border-right: 2px solid var(--color-gray);
}

.coordinate__card + .coordinate__card {
    margin-top: 12px;
}

.coordinate__cardList {
    display: flex;
    justify-content: space-around;
    width: 80px;
}

.coordinate__button {
    padding: 0;
}
