.geography {
    padding: 72px 0;
}

.geography__map {
    position: relative;
    width: var(--container-width);
    margin-left:  calc(50% - var(--container-width) / 2);
    margin-right: calc(50% - var(--container-width) / 2);
    height: 540px;
}

[class*="ymaps-2"][class*="-ground-pane"] {
    -webkit-filter: grayscale(100%);
}

.geography__buttonGroup {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 19px;
    left: 24px;
    z-index: 100;
}

.geography__button {
    margin: 5px 0;
    padding: 9px 14px;
    border: 2px solid transparent;
    background-color: var(--color-white);
}

.geography__button:hover {
    border-color: var(--color-yellow);
}

.geography__button_active {
    background-color: var(--color-yellow);
}

/* Media queries */
@media (max-width: 1200px) {
    .geography {
        padding-bottom: 0;
    }

    .geography__map {
        width: 100%;
        height: 400px;
        margin: 0;
    }

    .geography__buttonGroup {
        bottom: 48px;
        left: 40px;
    }

    [class*="-controls__control"] > ymaps > [class*="-zoom"]:nth-child(1) {
        right: 40px;
        bottom: 28px;
    }
}

@media (max-width: 767px) {
    .geography__buttonGroup {
        bottom: 31px;
        left: 16px;
    }

    [class*="-controls__control"]:after {
        content: '';
        position: absolute;
        right: -24px;
        bottom: -24px;
        width: 100vw;
        height: 250px;
        background: linear-gradient(0deg, #F5F5F5 5.33%, rgba(255, 255, 255, 0) 100%);
        z-index: -1;
    }

    [class*="-controls__control"] > ymaps > [class*="-zoom"]:nth-child(1) {
        right: 16px;
        bottom: 12px;
    }
}

