.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;
    background-image: url('~static/images/homeBackground@2x.jpg');
    background-size: cover;
    background-position: 32% center;
    color: #fff;
}

.homePage__titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage__title {
    margin-top: 20vh;
    font-size: calc(48px + 2vw);
    line-height: 1;
    letter-spacing: 0.1em;
}

.homePage__title_yellow {
    padding-left: calc(48px + 2vw);
    color: var(--yellow1);
}

.homePage__subTitle{
    position: relative;
    margin-top: 6vh;
    padding-left: 22px;
    max-width: 310px;
    font-size: calc(8px + 2vw);
    line-height: 193%;
    letter-spacing: 0.1em;
    opacity: 0.8;
}

@media (min-width: 360px) {
    .homePage__title {
        font-size: calc(54px + 2vw);
    }

    .homePage__title_yellow {
        padding-left: calc(54px + 2vw);
    }

    .homePage__subTitle {
        margin-top: 4vh;
    }
}

.homePage__subTitle:before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
}

.homePage__button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--navigation-size) + 8vh);
    width: 60vw;
    margin: 6vh auto 0 auto;
    padding: 10px 0;
    border: 2px solid var(--yellow1);
    border-radius: 2px;
    font-size: calc(8px + 2vw);
    text-align: center;
    color: var(--yellow1);
}

@media (min-width: 480px) {
    .homePage__title {
        margin-top: 20vh;
        font-size: calc(60px + 2vw);
    }

    .homePage__subTitle {
        font-size: calc(8px + 1vw);
    }

    .homePage__button {
        position: static;
        margin-top: 12vh;
        max-width: 310px;
        font-size: calc(8px + 1vw);
    }
}

@media (min-width: 768px) {
    .homePage {
        justify-content: center;
    }

    .homePage__title {
        margin-top: 0;
        font-size: calc(60px + 2vw);
    }

    .homePage__subTitle{
        max-width: 370px;
        font-size: 18px;
    }

    .homePage__button {
        position: static;
        margin-top: 12vh;
        max-width: 310px;
        font-size: calc(8px + 1vw);
    }
}
