/*@font-face {*/
/*    font-family: 'Raleway';*/
/*    font-display: swap;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: local(''),*/
/*    url('fonts/raleway-v18-latin_cyrillic-500.woff2') format('woff2'),*/
/*    url('fonts/raleway-v18-latin_cyrillic-500.woff') format('woff');*/
/*}*/

:root {
    /* Цвета */
    --color-black:      #000000;
    --color-white:      #ffffff;
    --color-red:        #FF6666;
    --color-yellow:     #FFDF31;
    --color-lightGreen: #10C300;
    --color-gray:       #B3B3B3;
    --color-darkGray:   #F5F5F5;

    /* Шрифты */
    --font-raleway: 'Raleway', 'Arial', sans-serif;

    /* Другое */
    --container-width:  1108px;
    --header-height:    111px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    padding-left:  calc(50% - var(--container-width) / 2) !important;
    padding-right: calc(50% - var(--container-width) / 2) !important;
}

.visuallyHidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

    /* Кнопка */


button,
.button {
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    font-family: var(--font-raleway);
    font-size: 18px;
    font-weight: 500;
}

button:hover,
.button:hover {
    cursor: pointer;
}

button + button,
.button + .button {
    margin-left: 20px;
}

.button_yellow {
    background-color: var(--color-yellow);
}

.button_gray {
    border: 1px solid var(--color-gray);
    color: var(--color-gray);
    background: none;
}

    /* Поле ввода */

.input {
    display: block;
    margin-top: 14px;
    padding: 15px 0 15px 16px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: var(--color-darkGray);
}

.input::placeholder {
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 14px;
    color: var(--color-gray);
}

.input:focus {
    outline: none;
}

label {
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 14px;
    color: var(--color-black);
}

textarea {
    display: block;
    padding-top: 12px;
    padding-left: 16px;
    margin-top: 14px;
    width: 540px;
    height: 100px;
    border-radius: 8px;
    resize: none;
    border: none;
    background-color: var(--color-darkGray);
}

textarea::placeholder {
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 14px;
    color: var(--color-gray);
}

textarea:focus {
    outline: 0;
}

    /* Заголовок */

.title {
    margin-bottom: 36px;
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 32px;
    color: var(--color-black);
}