.geography {
    padding-top: 69px;
    padding-bottom: 72px;
}

.geography__map {
    width: 100%;
    height: 540px;
}

[class*="ymaps-2"][class*="-ground-pane"] {
    -webkit-filter: grayscale(100%);
}
