.admin {
    display: flex;
    flex-grow: 1;
    margin: 80px 0;
    overflow: hidden;
}

.admin__error {
    margin: 8px 0;
    color: var(--color-red);
}

.admin__success {
    margin: 8px 0;
    color: var(--color-lightGreen);
}

.admin__title {
    font-size: 32px;
    font-weight: 500;
}

.admin__button_edit {
    padding: 0;
}

.admin__icon {
    width: 20px;
    height: 20px;
    fill: var(--color-black);
    transition: .2s;
}

.admin__icon_color_green:hover {
    fill: var(--color-lightGreen);
}

.admin__icon_color_red:hover {
    fill: var(--color-red);
}

.admin__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.admin__tableHead {
    display: grid;
    grid-template-columns: 100px 210px auto;
    margin-bottom: 24px;
    padding: 12px 8px;
}

.admin__tableHead *+* {
    padding-left: 8px;
}

.admin__tableList {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    margin-bottom: 48px;
}

.admin__tableItem {
    display: grid;
    grid-template-columns: 100px 210px 1fr auto;
    padding: 12px 8px;
    border-radius: 8px;
    border: 2px solid var(--color-gray);
    transition: .2s;
    cursor: default;
}

.admin__tableItem:hover {
    background-color: rgb(250, 250, 250);
}

.admin__tableItem *+*:not(:last-child) {
    padding-left: 8px;
    border-left: 2px solid var(--color-gray);
    transition: .2s;
}

.admin__form {
    display: grid;
    grid-template-columns: 540px;
}

.admin__formList {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    margin-top: 36px;
}

.admin__changeGroup {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    grid-gap: 20px;
}

.admin__buttonGroup {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    margin-top: 48px;
}


