
.vacancy__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.vacancy_title {
    margin-bottom: 0;
}

.vacancy__tableHead {
    display: grid;
    grid-template-columns: 85px 179px 492px;
    margin-bottom: 30px;
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 18px;
    color: var(--color-black);
}

.vacancy__card {
    display: grid;
    grid-template-columns: 85px 179px 1fr auto;
    grid-template-rows: repeat(3, 1fr);
    padding: 8px 12px;
    box-sizing: border-box;
    border: 2px solid var(--color-gray);
    border-radius: 8px;
}

.vacancy__card + .vacancy__card {
    margin-top: 12px;
}

.vacancy__image,
.vacancy__name,
.vacancy__description{
    grid-row: span 3;
}

.vacancy__name {
    border-right: 2px solid var(--color-gray);
    margin-right: 10px;
    margin-left: 11px;
}

.vacancy__description {
    padding-right: 20px;
}

.vacancy__delete {
    padding: 0;
    margin-bottom: 10px;
}
