.success__epilogue {
    display: grid;
    grid-template-columns: minmax(0, 525px) minmax(0, 445px);
    grid-column-gap: 60px;
    justify-content: space-between;
    font-size: 18px;
}

.success__title {
    margin-bottom: 48px;
    font-size: 72px;
}

.success__text_size_small {
    font-size: 14px;
}

.success__text_size_medium {
    font-size: 32px;
}

.success__decorText {
    margin: 24px 0;
    padding-left: 12px;
    border-left: 3px solid var(--color-yellow);
}

.success__link {
    display: block;
    margin-top: 35px;
    padding: 22px;
    font-size: 24px;
}

/* Media queries */
@media (max-width: 1200px) {
    .success__epilogue {
        grid-template-columns: 1fr;
        grid-gap: 74px;
    }
}

@media (max-width: 767px) {
    .success__epilogue {
        grid-gap: 52px;
    }

    .success__title {
        font-size: 48px;
    }

    .success__text_size_medium {
        font-size: 24px;
    }
}