.coordinateAdd {
    width: 540px;
}

.coordinateAdd__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.coordinateAdd__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 34px;
    margin-top: 26px;
    margin-bottom: 48px;
}

.coordinateAdd__cancel {
    margin-left: 20px;
}
