/* MODAL */
.overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .2s ease-in-out;
    background: rgba(6%, 6%, 6%, 0.8);
    visibility: hidden;
    opacity: 0;
    z-index: 200;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    width: var(--container-width);
    max-height: 90%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    border-radius: 8px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    z-index: 300;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity:1;
        visibility: visible;
    }
}

.fadeIn {
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-name: fadeIn;
    opacity: 1;
    visibility: visible;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity:0;
        visibility: hidden;
    }
}

.fadeOut {
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-name: fadeOut;
    opacity: 0;
    visibility: hidden;
}

.modal__close {
    transition: .2s;
    padding: 0;
}

.modal__close:hover {
    opacity: 0.4;
}

.modal__closeIcon{
    width: 24px;
    height: 24px;
    stroke: var(--color-black)
}

.modal__header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    margin-bottom: 48px;
    padding: 32px 32px 0 95px;
    background-color: var(--color-white);
    transition: .3s;
}

.modal__title {
    font-size: 72px;
    transition: .3s;
}

.modal__header_fixed {
    margin-bottom: 0;
    padding-bottom: 32px;
}

.modal__header_fixed .modal__title {
    font-size: 24px;
}

.modal__content {
    padding: 0 95px 120px;
    overflow-y: auto;
}

.modal__content::-webkit-scrollbar {
    width: 0;
}

.modal__content * {
    line-height: 1.8;
}